## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

## **Objectives**

* Name some of the most popular programming languages that's used by Data Scientists.
* Name some of the most common libraries that's used by Data Scientists.
* Name some of the most used Tools by Data Scientists.
* Give examples of arithmetic expression in Python
* Example (1): arithmetic expression to mutiply then add integers
* Example (2): convert 200 minutes to hours by diving by 60

Some of the popular languages that Data Scientists use are:

1. Python
2. R language
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include: 

1. NumPy
2. SciPy
3. Pandas
4. Matplotlib
5. Scikit-lib

| Data Science Tools |
| -------------------|
| Anaconda |
| Jupyter notebook |
| Github |
| RStudio IDE |

### Below are a few examples of evaluating arithmetic expressions in Python.

```python
x + y
x - y
x * y
x / y
x % y
x // y
x ** y
```

In [4]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [12]:
hours = 200
hours/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Mohammed Al Qurayshah